.text {
    &__chat {
        border: 1px solid $grey;
        border-radius: 4px;
        padding: 15px;
        background-color: $white;
        height: calc(100vh - 270px);
        overflow-y: auto;
        overflow-x: hidden;

        &--container {
            margin: 20px;
        }

        &--controls {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;

            button {
                height: 80px;
                width: 100px;
                padding: 10px 20px;
                border-radius: 4px;
                background-color: $primary;
                color: $white;
                border: none;
                font-weight: bold;
                cursor: pointer;
                transition: 0.2s background-color ease;

                &.alt {
                    background-color: $red;
                }

                &:focus {
                    outline: none;
                }

                &:disabled {
                    color: $grey-light;
                    background-color: $grey;
                    cursor: not-allowed;
                }
            }

            textarea {
                padding: 15px;
                width: 100%;
                border-radius: 4px;
                border: 1px solid $grey;
                margin: 0 15px;
                line-height: 1.5;
                resize: none;
                box-shadow: none;

                &:focus {
                    outline: none;
                }

                &:disabled {
                    background-color: #fff;
                }
            }
        }
    }
}

.message {
    width: fit-content;
    margin: 0;
    max-width: 80%;
    line-height: 1.4;
    padding: 15px;

    &__container {
        margin: 5px 0;
    }

    &__system {
        font-weight: bold;
        padding: 0 10px;
        color: $grey-darker;
    }

    span {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    &__stranger span {
        color: red;
    }

    &__you span {
        color: $primary;
    }
}

.chat__wrapper {
    display: grid;
    grid-template-columns: 1fr;

    &.video {
        grid-template-columns: 560px 1fr;
    }
}
